@import "tailwindcss";

body,a {
  font-family: "PT Sans", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
}

.black {
  font-family: "Archivo Black", sans-serif;
}